body {
	font-family: "Eb Garamond", sans-serif;	
}

* {
	margin: 0px;
	padding: 0px;
}

#our-menu {
	font-size: 175%;
	text-align: center;
}

/* make everything float */
.banana, .apple, .pear {
	float: left;
	width: 33%;
	box-sizing: border-box;
	position: relative;
}

/* restricting the width of content box titles */
#banana-title, #apple-title, #pear-title {
	font-size: 125%;
	text-align: right;
	box-sizing: content-box;
}

/* banana container, base style */
.banana {
	background-color: #fcf8f3;
	text-align: left;
	border: 3px solid black;

}
#banana-title {
	background-color: #ffaaa5;
	text-align:center;
	font-size: 1.1em;
	border: 3px solid black;
	position: absolute;
	clear: right;
}

/* apple container, base style */

.apple {
	background-color: #ffd3b6;
	text-align: left;
	border: 3px solid black;
}

#apple-title {
	background-color: #fcf8f3;
	text-align: center;
	font-size: 1.1em;
	border: 3px solid black;
}

/* pear container, base style */
.pear {
	background-color: #698474;
	text-align: left;
	border: 3px solid black;
}

#pear-title {
	background-color: #ffd3b6;
	text-align: center;
	font-size: 1.1em;
	border: 3px solid black;
}
/* media queries */

/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
	.banana, .apple {
		width: 50%;
	}
	.pear {
		width: 100%;
	}
}

/* mobile view */
@media (max-width: 767px) {
	.banana, .apple, .pear {
		width: 100%;
	}
}

