body {
	font-family: "Eb Garamond", sans-serif;	
}

#our-menu {
	font-size: 1.4em;
	text-align: center;
}

/* make everything float */
.banana, .apple, .pear {
	float: right;
	margin: 20px;
	width: 33%;
	box-sizing: border-box;
}

/* banana container */
#banana-title {
	background-color: orange;
	text-align:right;
	font-size: 1.1em;
	border: 3px solid black;
}
.banana {
	background-color: yellow;
	text-align: left;
	border: 3px solid black;

}

/* apple container */
#apple-title {
	background-color: red;
	text-align: right;
	font-size: 1.1em;
	border: 3px solid black;
}
.apple {
	background-color: green;
	text-align: left;
	border: 3px solid black;
}

/* pear container */
#pear-title {
	background-color: green;
	text-align: right;
	font-size: 1.1em;
	border: 3px, solid black;
}
.pear {
	background-color: orange;
	text-align: left;
	border: 3px solid black;
}